.chart-action{
    transition: background .25s,border-color .25s;
    background: rgba(40,44,52,.05);
    border: 1px solid transparent;
    border-radius: 6px;
    color: #3080d0;
    text-decoration: none!important;
    display: inline-block;
    font-size: .8rem;
    padding: 8px 16px;
    margin: 0 8px 8px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}